{% extends "base.html" %}
{% load static %}

{% block title %} Ongaku {% endblock title %}

{% block content %}
<h3> La música nos une. </h3>
<br>
<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iste assumenda molestiae officia sunt sint ex soluta similique. Velit tempore laudantium quos. Officia repellendus, quod aliquam beatae unde nostrum blanditiis! </p>
<br>
<img id="community" src="{% static 'bodos.jpg' %}"
alt="Imagen de la comunidad de Ongaku."
width="480"
height="259.5"
>
{% endblock content %}